@pton-orange:#EE7F2D;
@semi-pton-orange:rgba(245,128,37,0.7);
@dark-orange:#E47523;
@pton-black:black;
@light-grey:#eee;
@mid-grey:#888;
@semi-grey:rgba(200,200,200,0.7);
@beige:#feffd6;

@header-height:55px;

@header-z-index:10;

@import "fonts.less";

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.box {
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}



body {
  margin:0px;
}
ul {
  list-style-type:none;
}

#content {
  margin-top:@header-height;
}

.header {
  background-color:@pton-orange;
  height:@header-height;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:@header-z-index;
  border-bottom: 2px solid black;
  .navbar {
    list-style-type:none;
    position:absolute;
    bottom:0;
    margin:0;
    li {
      float:left;
      text-align:center;
      border-left:1px solid white;
      border-top:1px solid white;
      color:white;
      font-weight:bold;
      &:last-child { border-right:1px solid white; }
      border-radius: 5px 5px 0 0;
      &.selected {
        background-color:white;
        color:@pton-orange;
      }
      a {
        padding:10px;
        display:block;
        width:60px;
        text-decoration:none;
        color:inherit;
      }
    }
  }

  .brand {
    margin: 5px 10px;
    position:absolute;
    top:0;
    right:0;
    font-size:3em;
    font-weight:bold;
    font-family: PrincetonMonticello;
    .pton {
      color:@pton-black;
    }
    .sailing {
      color:white;
    }
  }
}

.newsfeed {
  padding:10px;
  .article {
    background-color:@semi-grey;
    .border-radius;
     margin:0 10% 20px;
     padding: 5px;
  }
}

.nav {
  margin: 10px;
  background-color:@light-grey;
  position:absolute;
  top:@header-height;
  li {
    margin:5px;
    &:not(:last-child) {
      border-bottom: 2px solid @mid-grey;
    }
    a {
      color: black;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
        }
    }
  }
}

.roster {
  margin:5px 10% 20px;
  .border-radius;
  padding:5px;
  background:@semi-grey;
  .roster-title {
    font-family:PrincetonMonticello;
  }
  .row {
    .box;
    .sailor {
      background:lightgray;
      padding:10px;
      width:170px;
      .border-radius;
      border:2px solid @mid-grey;
      margin:5px;
      .pic {
        height:150px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        .border-radius;
        border: 1px solid @mid-grey;
      }
      .caption {
        text-align:center;
        h4,p {
          margin:0.1em;
        }
      }
    }
  }
}

#BG_WRAPPER {
   position:fixed;
   height:100%;
   width:100%;
   top:0;
   z-index:-1;
}

#BG_WRAPPER .background {
   height:100%;
   width:100%;
   background:url('img/home_bg_small.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

.centerPanel {
   margin:0 10% 20px;
}


.rosterPop {
   width:100%;
}
