{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>{% block title %}{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="static/base.css" rel="stylesheet" media="screen">
   <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <script language="javascript" type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
   <script language="javascript" type="text/javascript" src="static/js/ps.js"></script>
</head>
<body>
   <div id="header">
     <div id="brand">
       <span class="pton">PRINCETON SAILING</span>
     </div>
     <div id="navcontainer">
       <ul id="navbar">
         {{ macros.nav_button("Home","index") }}
         {{ macros.nav_button("News") }}
         {{ macros.nav_button("Schedule") }}
         <li>
         {# <div class="burgee"></div> #}
         <img class="burgee" src="static/img/burgee.png"/>
         </li>
         {{ macros.nav_button("Roster") }}
         {{ macros.nav_button("Alumni") }}
         {{ macros.nav_button("Contact") }}
       </ul>
     </div>
   </div>
   <div id="content">
      {% block content %}{% endblock %}
   </div>
   <div id="popups">
     {% block popups %}{% endblock %}
   </div>
   <div id="BG_WRAPPER">
     <div class="background"></div>
   </div>
   <div id="mask" class="hidden"></div>
</body>
