{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>{% block title %}{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="static/base.css" rel="stylesheet" media="screen">
</head>
<body>
   <div class="header">
   <ul class="navbar">
     <li{% if selected == "home" %} class="selected"{% endif %}>
      <a href="index.html">Home</a>
     </li>
     <li{% if selected == "news" %} class="selected"{% endif %}>
      <a href="news.html">News</a>
     </li>
     <li{% if selected == "roster" %} class="selected"{% endif %}>
      <a href="roster.html">Roster</a>
     </li>
     <li{% if selected == "alumni" %} class="selected"{% endif %}>
      <a href="alumni.html">Alumni</a>
     </li>
     <li{% if selected == "photos" %} class="selected"{% endif %}>
      <a href="photos.html">Photos</a>
     </li>
   </ul>
     <div class="brand"><span class="pton">PRINCETON </span>
       <span class="sailing">SAILING</span></div>
   </div>
   <ul class="nav">
     <li><a href="index.html">Home</a></li>
     <li><a href="news.html">News</a></li>
     <li><a href="roster.html">Roster</a></li>
     <li><a href="alumni.html">Alumni</a></li>
     <li><a href="photos.html">Photos</a></li>
   </ul>
   <div id="content">
      {% block content %}{% endblock %}
   </div>
   <div id="BG_WRAPPER">
     <div class="background"></div>
   </div>
</body>
